<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Eco Root</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>

<body>
    <header class="bar-nav-container">
        <a href="http://localhost:3000"><img class="logo" src="/img/logo-bar-nav.jpg" alt=""></a>
        <div class="nav-text-wrapper">
            <a href="/"><span class="text-navegation">Home</span></a>
            <a href="products"><span class="text-navegation">Productos</span></a>
            <a href="login"><span class="text-navegation">Login</span></a>
        </div>

        <div class="nav-right-wrapper">
            <span class="icon-account"><span class="material-symbols-outlined">account_circle</span></span>
            <span class="material-symbols-outlined">search</span>
            <section class="icon-shop-hamburguer">
                <div class="shop-icon">
                    <a href="productCart"><span class="material-symbols-outlined">local_mall</span></a>
                    <span class="number-shop">0</span>
                </div>
                <div class="contain-hamburguer">
                    <span class="material-symbols-outlined">menu</span>
                </div>
            </section>
        </div>
    </header>


    <main>
        <section class="seccion-top-carrousel">
            <div class="img-top-body-container">
                <img src="/img/img-cepillo-bambu.jpg" alt="">
            </div>
            <p>"¡Bienvenido a Ecoroot, el lugar donde florece la belleza ecológica para tu cuerpo y más allá! Sumérgete
                en un oasis de productos cuidadosamente seleccionados, inspirados en la naturaleza y creados con un
                profundo respeto por nuestro planeta. En Ecoroot, nos enorgullece ofrecerte una amplia variedad de
                opciones ecológicas para el cuidado personal, desde cosméticos orgánicos hasta productos de higiene
                sostenibles. Nuestro compromiso con la calidad y la sostenibilidad se refleja en cada artículo que
                descubrirás en nuestro catálogo. Aquí, te invitamos a explorar un universo de bienestar consciente,
                donde cada elección que hagas para tu cuidado personal contribuirá a preservar y nutrir nuestro entorno.
                Únete a nosotros en este viaje hacia una belleza auténtica y en armonía con la naturaleza en Ecoroot.
                ¡Tu cuerpo y el planeta te lo agradecerán!"
            </p>
        </section>

        <section class="seccion-main-products">
            <div class="text-products-wrapper">
                <h1>Productos mas vendidos</h1>
                <p>"¡Descubre nuestros productos estrella, los favoritos de nuestros clientes comprometidos con el medio
                    ambiente! Explora nuestra selección de productos más vendidos, desde bolsas reutilizables hasta
                    velas
                    ecológicas y mucho más. Únete a la tendencia sostenible y elige los productos que marcan la
                    diferencia.
                    ¡No te pierdas lo más popular en nuestra tienda virtual ecoamigable!"</p>
            </div>

            <a class="button-shop-home" href="http://localhost:3000/products"><button class="button-shop-home-primary" type="submit">Ingresa a la tienda
                <span class="material-symbols-outlined">local_mall</span>
            </button></a>
        </section>

        <article id="cards-products-container">
            <section class="card">
                <img src="/img/img-product-jabon.jpg" alt="">
                <div class="content-card-container">
                    <section class="contain-content-card-1">
                        <div class="description">
                            <span>Jabon biodegradable</span>
                            <span>Ref: 8990</span>
                        </div>
                        <div class="stars">
                            <span class="material-symbols-outlined">star</span>
                            <span class="material-symbols-outlined">star</span>
                            <span class="material-symbols-outlined">star</span>
                            <span class="material-symbols-outlined">star</span>
                            <span class="material-symbols-outlined">star</span>
                        </div>
                    </section>

                    <section class="contain-content-card-2">
                        <a href="#"><button class="button"><span
                                    class="material-symbols-outlined">add_shopping_cart</span></button></a>
                        <div class="price">
                            <span class="descuento">10% OFF</span>
                            <span class="total">$ 000</span>
                        </div>
                </div>
            </section>
            </section>

            <section class="card">
                <img src="/img/img-product-jabon.jpg" alt="">
                <div class="content-card-container">
                    <section class="contain-content-card-1">
                        <div class="description">
                            <span>Jabon biodegradable</span>
                            <span>Ref: 8990</span>
                        </div>
                        <div class="stars">
                            <span class="material-symbols-outlined">star</span>
                            <span class="material-symbols-outlined">star</span>
                            <span class="material-symbols-outlined">star</span>
                            <span class="material-symbols-outlined">star</span>
                            <span class="material-symbols-outlined">star</span>
                        </div>
                    </section>

                    <section class="contain-content-card-2">
                        <a href="#"><button class="button"><span
                                    class="material-symbols-outlined">add_shopping_cart</span></button></a>
                        <div class="price">
                            <span class="descuento">10% OFF</span>
                            <span class="total">$ 000</span>
                        </div>
                </div>
            </section>
            </section>

            <section class="card">
                <img src="/img/img-product-jabon.jpg" alt="">
                <div class="content-card-container">
                    <section class="contain-content-card-1">
                        <div class="description">
                            <span>Jabon biodegradable</span>
                            <span>Ref: 8990</span>
                        </div>
                        <div class="stars">
                            <span class="material-symbols-outlined">star</span>
                            <span class="material-symbols-outlined">star</span>
                            <span class="material-symbols-outlined">star</span>
                            <span class="material-symbols-outlined">star</span>
                            <span class="material-symbols-outlined">star</span>
                        </div>
                    </section>

                    <section class="contain-content-card-2">
                        <a href="#"><button class="button"><span
                                    class="material-symbols-outlined">add_shopping_cart</span></button></a>
                        <div class="price">
                            <span class="descuento">10% OFF</span>
                            <span class="total">$ 000</span>
                        </div>
                </div>
            </section>
            </section>

            <section class="card">
                <img src="/img/img-product-jabon.jpg" alt="">
                <div class="content-card-container">
                    <section class="contain-content-card-1">
                        <div class="description">
                            <span>Jabon biodegradable</span>
                            <span>Ref: 8990</span>
                        </div>
                        <div class="stars">
                            <span class="material-symbols-outlined">star</span>
                            <span class="material-symbols-outlined">star</span>
                            <span class="material-symbols-outlined">star</span>
                            <span class="material-symbols-outlined">star</span>
                            <span class="material-symbols-outlined">star</span>
                        </div>
                    </section>

                    <section class="contain-content-card-2">
                        <a href="#"><button class="button"><span
                                    class="material-symbols-outlined">add_shopping_cart</span></button></a>
                        <div class="price">
                            <span class="descuento">10% OFF</span>
                            <span class="total">$ 000</span>
                        </div>
                </div>
            </section>
            </section>
        </article>


        <article class="articles-contain">
            <div class="title-article-contain">
                <h2>Elementos que aportan al cambio</h2>
                <span class="material-symbols-outlined">eco</span>
            </div>

            <div class="articles-cards-contain">
                <section class="card-article-contain">
                    <img src="/img/img-tonic.jpg" alt="">
                    <div class="text-article-wrapper">
                        <span class="title">Tonico</span>
                        <p class="parrafo">Lorem ipsum dolor sit amet consectetur. Tortor urna egestas mauris enim. Id
                            dui lobortis
                            vulputate
                            sed in.</p>
                    </div>
                </section>

                <section class="card-article-contain">
                    <img src="/img/img-crem-ecologic.jpg" alt="">
                    <div class="text-article-wrapper">
                        <span class="title">Crema ecologica</span>
                        <p class="parrafo">Lorem ipsum dolor sit amet consectetur. Tortor urna egestas mauris enim. Id
                            dui lobortis
                            vulputate
                            sed in.</p>
                    </div>
                </section>

                <section class="card-article-contain">
                    <img src="/img/img-brush.jpg" alt="">
                    <div class="text-article-wrapper">
                        <span class="title">Cepillo bambu</span>
                        <p class="parrafo">Lorem ipsum dolor sit amet consectetur. Tortor urna egestas mauris enim. Id
                            dui lobortis
                            vulputate
                            sed in.</p>
                    </div>
                </section>

                <section class="card-article-contain">
                    <img src="/img/img-jabon-ecologic.jpg" alt="">
                    <div class="text-article-wrapper">
                        <span class="title">Jabon biodegradable</span>
                        <p class="parrafo">Lorem ipsum dolor sit amet consectetur. Tortor urna egestas mauris enim. Id
                            dui lobortis
                            vulputate
                            sed in.</p>
                    </div>
                </section>
            </div>
        </article>

        <section class="seccion-promotion-contain">
            <img src="img/img-cepillo-bambu.jpg" alt="">
            <div class="content-promotion">
                <div class="text-promotion">
                    <h3>Cepillo de bambú</h3>
                    <p>"¡Sonríe al futuro con nuestros cepillos de bambú! Cuidar de tu higiene bucal nunca fue tan
                        ecológico
                        y elegante. Hechos con materiales renovables y biodegradables, nuestros cepillos de bambú te
                        brindan
                        una experiencia única, combinando la suavidad de las cerdas de nylon de alta calidad con el
                        impacto
                        positivo en el medio ambiente. ¡Únete a la revolución del cepillado sostenible y dale a tu
                        sonrisa
                        un toque natural!"</p>
                </div>
                <a href="products"><button class="button-promotion">Ingresa a la tienda<span class="material-symbols-outlined">
                            local_mall
                        </span></a></button>
            </div>
        </section>

        <section class="seccion-login-message">
            <img src="img/img-shop.jpg" alt="">
            <div class="content-login-message">
                <div class="text-promotion">
                    <p>"¡Descubre una experiencia de compra ecoamigable en nuestra tienda virtual! Convierte tus compras
                        en
                        acciones positivas para el planeta, explorando nuestra amplia selección de productos ecológicos
                        que
                        te ayudarán a cuidar el medio ambiente mientras disfrutas de la calidad y estilo que deseas.
                        ¡Únete
                        a nosotros y hagamos juntos un cambio sostenible!"</p>
                </div>
                <a href="login"><button class="button-promotion">Inicia sesión<span class="material-symbols-outlined">
                            arrow_right_alt
                        </span></a></button>
            </div>
        </section>
    </main>

    <footer>
        <section class="footer-top-content">
            <div class="logo-footer-contain">
                <img src="img/logo-bottom.jpg" alt="">
                <span class="text">Tienda ecológica</span>
            </div>

            <div class="input-contain">
                <input type="text">
                <button>Suscríbete</button>
            </div>
        </section>

        <article class="footer-bottom-content">
            <section class="compañia">
                <span class="title">
                    COMPAÑIA
                </span>
                <ul>
                    <li>Contacto</li>
                    <li>Blog</li>
                </ul>
            </section>

            <section class="sitio">
                <span class="title">
                    SITIO
                </span>
                <ul>
                    <li>Tienda</li>
                    <li>Inicio</li>
                    <li>Contact Us</li>
                </ul>
            </section>

            <div class="content-contact-logo">
                <section class="contact">
                    <span class="title">
                        CONTACT US
                    </span>
                    <ul>
                        <li>Calle#20-101</li>
                        <li>(+57) 22 3444-2333</li>
                        <li>TiendaEcologic@hotmail.com</li>
                    </ul>
                </section>

                <div class="redes-sociales">
                    <img src="/img/logo-git.jpg" alt="">
                    <img src="img/logo-inst.jpg" alt="">
                </div>
            </div>
        </article>
    </footer>
    <p class="derechos">&copy; Todos los derechos reservados 2023 © Tienda Ecológica </p>
</body>
