<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Eco Root</title>
    <link rel="stylesheet" href="css/styles.css">
    <script src="https://kit.fontawesome.com/f2c1799cf6.js" crossorigin="anonymous"></script>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>

<body>
    <header class="bar-nav-container">
        <a href="http://localhost:3000"><img class="logo" src="/img/logo-bar-nav.jpg" alt=""></a>
        <div class="nav-text-wrapper">
            <a href="http://localhost:3000"><span class="text-navegation">Home</span></a>
            <a href="http://localhost:3000/products"><span class="text-navegation">Productos</span></a>
            <a href="http://localhost:3000/login"><span class="text-navegation">Login</span></a>
        </div>

        <div class="nav-right-wrapper">
            <span class="icon-account"><span class="material-symbols-outlined">account_circle</span></span>
            <span class="material-symbols-outlined">search</span>
            <section class="icon-shop-hamburguer">
                <div class="shop-icon">
                    <span class="material-symbols-outlined">local_mall</span>
                    <span class="number-shop">0</span>
                </div>
                <div class="contain-hamburguer">
                    <span class="material-symbols-outlined">menu</span>
                </div>
            </section>
        </div>
    </header>


    <main>

        <article class="article-container">

            <section class="content-article">
                <img src="/img/img-header.jpg" alt="Imagen producto"/>
                <div class="quantity.prod">
                    <b class="titulo-producto">Cepillo de Bambú</b>
                    <i class="fa-regular fa-circle-chevron-up"></i>
                    <b class="cantidad-seleccionada">1</b>
                    <i class="fa-regular fa-circle-chevron-down"></i>
                    <b> X </b>
                    <b> $0.00 </b>
                </div>
            </section>

            <section class="content-article">
                <img src="/img/img-header.jpg" alt="Imagen producto"/>
                <div class="quantity.prod">
                    <b class="titulo-producto">Cepillo de Bambú</b>
                    <i class="fa-regular fa-circle-chevron-up"></i>
                    <b class="cantidad-seleccionada">1</b>
                    <i class="fa-regular fa-circle-chevron-down"></i>
                    <b> X </b>
                    <b> $0.00 </b>
                </div>
            </section>

            <section class="content-article">
                <img src="/img/img-header.jpg" alt="Imagen producto"/>
                <div class="quantity.prod">
                    <b class="titulo-producto">Cepillo de Bambú</b>
                    <i class="fa-regular fa-circle-chevron-up"></i>
                    <b class="cantidad-seleccionada">1</b>
                    <i class="fa-regular fa-circle-chevron-down"></i>
                    <b> X </b>
                    <b> $0.00 </b>
                </div>
            </section>

            <section class="content-article">
                <img src="/img/img-header.jpg" alt="Imagen producto"/>
                <div class="quantity.prod">
                    <b class="titulo-producto">Cepillo de Bambú</b>
                    <i class="fa-regular fa-circle-chevron-up"></i>
                    <b class="cantidad-seleccionada">1</b>
                    <i class="fa-regular fa-circle-chevron-down"></i>
                    <b> X </b>
                    <b> $0.00 </b>
                </div>
            </section>

            <div class="monto-total-compra">
                TOTAL $0    
            </div>

            <section class="data-container">
                <div class="top-card-detail-content">
                <p>Detalles de tarjeta</p>
                <img src="/img/istockphoto-1327592449-612x612.jpg" alt="Foto de Perfil">
                </div>
                <div>
                <p>Tipo de tarjetas</p>
                <Button class="button-tarjetas"><img src="/img/VISA-Logo.png" alt="VISA"></Button>
                <button class="button-tarjetas"><img src="/img/Mastercard_Pentagram_Press-3-1024x768.jpg" alt="MASTERCARD"></button>
                <button>Agregar mas...</button>
                </div>

                <div class="data-entry-box">

                <p>Nombre del Titular</p>
                <input type="text" placeholder="Nombre Completo" class="entry-box">

                <p>Numero de Tarjeta</p>
                <input type="text" placeholder="1111 2222 3333 4444" class="entry-box">

                <p>Fecha de Expidicion</p>
                <input type="text" placeholder="MM/AA" class="entry-box">

                <p>Codigo de Seguridad</p>
                <input type="text" placeholder="CVV" class="entry-box">

                <button class="pay-button"><P>$800</P><p>CHECKOUT</p> <i class="fa-light fa-arrow-right"></i></button>
                 </div>   

            </section>

        </article >

    </main>

    <footer>
        <section class="footer-top-content">
            <div class="logo-footer-contain">
                <img src="img/logo-bottom.jpg" alt="">
                <span class="text">Tienda ecológica</span>
            </div>

            <div class="input-contain">
                <input type="text">
                <button>Suscríbete</button>
            </div>
        </section>

        <article class="footer-bottom-content">
            <section class="compañia">
                <span class="title">
                    COMPAÑIA
                </span>
                <ul>
                    <li>Contacto</li>
                    <li>Blog</li>
                </ul>
            </section>

            <section class="sitio">
                <span class="title">
                    SITIO
                </span>
                <ul>
                    <li>Tienda</li>
                    <li>Inicio</li>
                    <li>Contact Us</li>
                </ul>
            </section>

            <div class="content-contact-logo">
                <section class="contact">
                    <span class="title">
                        CONTACT US
                    </span>
                    <ul>
                        <li>Calle#20-101</li>
                        <li>(+57) 22 3444-2333</li>
                        <li>TiendaEcologic@hotmail.com</li>
                    </ul>
                </section>

                <div class="redes-sociales">
                    <img src="/img/logo-git.jpg" alt="">
                    <img src="img/logo-inst.jpg" alt="">
                </div>
            </div>
        </article>
    </footer>
    <p class="derechos">&copy; Todos los derechos reservados 2023 © Tienda Ecológica </p>
</body>

</html>