<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Eco Root</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>

<body>
    <header class="bar-nav-container">
        <a href="http://localhost:3000"><img class="logo" src="/img/logo-bar-nav.jpg" alt=""></a>
        <div class="nav-text-wrapper">
            <a href="/"><span class="text-navegation">Home</span></a>
            <a href="products"><span class="text-navegation">Productos</span></a>
            <a href="login"><span class="text-navegation">Login</span></a>
        </div>

        <div class="nav-right-wrapper">
            <span class="icon-account"><span class="material-symbols-outlined">account_circle</span></span>
            <span class="material-symbols-outlined">search</span>
            <section class="icon-shop-hamburguer">
                <div class="shop-icon">
                    <span class="material-symbols-outlined">local_mall</span>
                    <span class="number-shop">0</span>
                </div>
                <div class="contain-hamburguer">
                    <span class="material-symbols-outlined">menu</span>
                </div>
            </section>
        </div>
    </header>





    <main>

        <section class="paragraph-head-main">
            <img src="/img/img-plants-flyer.jpg" alt="">
            <p>Descubre una amplia gama de productos conscientes con el medio ambiente que te permitirán vivir de forma
                más sostenible.</p>
        </section>

        <article class="main-products-category-container">

            <div class="container-name-category-cards">

                <section class="seccion-category-name">
                    <div class="title-categoty-product-contain">
                        <span>Cuidado personal y belleza</span>
                    </div>
                </section>

                <article id="cards-products-container">

                    <a href="http://localhost:3000/productDetail">
                        <section class="card">
                            <img src="/img/img-product-jabon.jpg" alt="">
                            <div class="content-card-container">
                                <section class="contain-content-card-1">
                                    <div class="description">
                                        <span>Jabon biodegradable</span>
                                        <span>Ref: 8990</span>
                                    </div>
                                    <div class="stars">
                                        <span class="material-symbols-outlined">star</span>
                                        <span class="material-symbols-outlined">star</span>
                                        <span class="material-symbols-outlined">star</span>
                                        <span class="material-symbols-outlined">star</span>
                                        <span class="material-symbols-outlined">star</span>
                                    </div>
                                </section>

                                <section class="contain-content-card-2">
                                    <a href="#"><button class="button"><span class="material-symbols-outlined">add_shopping_cart</span></button></a>
                                    <div class="price">
                                        <span class="descuento">10% OFF</span>
                                        <span class="total">$ 000</span>
                                    </div>
                                </section>
                            </div>
                        </section>
                    </a>

                    <!-- ------------------------------------- -->

                    <a href="http://localhost:3000/productDetail">
                        <section class="card">
                            <img src="/img/img-product-jabon.jpg" alt="">
                            <div class="content-card-container">
                                <section class="contain-content-card-1">
                                    <div class="description">
                                        <span>Jabon biodegradable</span>
                                        <span>Ref: 8990</span>
                                    </div>
                                    <div class="stars">
                                        <span class="material-symbols-outlined">star</span>
                                        <span class="material-symbols-outlined">star</span>
                                        <span class="material-symbols-outlined">star</span>
                                        <span class="material-symbols-outlined">star</span>
                                        <span class="material-symbols-outlined">star</span>
                                    </div>
                                </section>

                                <section class="contain-content-card-2">
                                    <a href="#"><button class="button"><span class="material-symbols-outlined">add_shopping_cart</span></button></a>
                                    <div class="price">
                                        <span class="descuento">10% OFF</span>
                                        <span class="total">$ 000</span>
                                    </div>
                                </section>
                            </div>
                        </section>
                    </a>

                    <!-- ----------------------------------------------- -->

                    <a href="http://localhost:3000/productDetail">
                        <section class="card">
                            <img src="/img/img-product-jabon.jpg" alt="">
                            <div class="content-card-container">
                                <section class="contain-content-card-1">
                                    <div class="description">
                                        <span>Jabon biodegradable</span>
                                        <span>Ref: 8990</span>
                                    </div>
                                    <div class="stars">
                                        <span class="material-symbols-outlined">star</span>
                                        <span class="material-symbols-outlined">star</span>
                                        <span class="material-symbols-outlined">star</span>
                                        <span class="material-symbols-outlined">star</span>
                                        <span class="material-symbols-outlined">star</span>
                                    </div>
                                </section>

                                <section class="contain-content-card-2">
                                    <a href="#"><button class="button"><span class="material-symbols-outlined">add_shopping_cart</span></button></a>
                                    <div class="price">
                                        <span class="descuento">10% OFF</span>
                                        <span class="total">$ 000</span>
                                    </div>
                                </section>
                            </div>
                        </section>
                    </a>

                    <!-- --------------- -->

                    <a href="http://localhost:3000/productDetail">
                        <section class="card">
                            <img src="/img/img-product-jabon.jpg" alt="">
                            <div class="content-card-container">
                                <section class="contain-content-card-1">
                                    <div class="description">
                                        <span>Jabon biodegradable</span>
                                        <span>Ref: 8990</span>
                                    </div>
                                    <div class="stars">
                                        <span class="material-symbols-outlined">star</span>
                                        <span class="material-symbols-outlined">star</span>
                                        <span class="material-symbols-outlined">star</span>
                                        <span class="material-symbols-outlined">star</span>
                                        <span class="material-symbols-outlined">star</span>
                                    </div>
                                </section>

                                <section class="contain-content-card-2">
                                    <a href="#"><button class="button"><span class="material-symbols-outlined">add_shopping_cart</span></button></a>
                                    <div class="price">
                                        <span class="descuento">10% OFF</span>
                                        <span class="total">$ 000</span>
                                    </div>
                                </section>
                            </div>
                        </section>
                    </a>

                </article>

                
            </div>>


            <div class="container-name-category-cards">

                <section class="seccion-category-name">
                    <div class="title-categoty-product-contain">
                        <span>Cuidado personal y belleza</span>
                    </div>
                </section>

                <article id="cards-products-container">

                    <a href="http://localhost:3000/productDetail">
                        <section class="card">
                            <img src="/img/img-product-jabon.jpg" alt="">
                            <div class="content-card-container">
                                <section class="contain-content-card-1">
                                    <div class="description">
                                        <span>Jabon biodegradable</span>
                                        <span>Ref: 8990</span>
                                    </div>
                                    <div class="stars">
                                        <span class="material-symbols-outlined">star</span>
                                        <span class="material-symbols-outlined">star</span>
                                        <span class="material-symbols-outlined">star</span>
                                        <span class="material-symbols-outlined">star</span>
                                        <span class="material-symbols-outlined">star</span>
                                    </div>
                                </section>

                                <section class="contain-content-card-2">
                                    <a href="#"><button class="button"><span class="material-symbols-outlined">add_shopping_cart</span></button></a>
                                    <div class="price">
                                        <span class="descuento">10% OFF</span>
                                        <span class="total">$ 000</span>
                                    </div>
                                </section>
                            </div>
                        </section>
                    </a>

                    <!-- ------------------------------------- -->

                    <a href="http://localhost:3000/productDetail">
                        <section class="card">
                            <img src="/img/img-product-jabon.jpg" alt="">
                            <div class="content-card-container">
                                <section class="contain-content-card-1">
                                    <div class="description">
                                        <span>Jabon biodegradable</span>
                                        <span>Ref: 8990</span>
                                    </div>
                                    <div class="stars">
                                        <span class="material-symbols-outlined">star</span>
                                        <span class="material-symbols-outlined">star</span>
                                        <span class="material-symbols-outlined">star</span>
                                        <span class="material-symbols-outlined">star</span>
                                        <span class="material-symbols-outlined">star</span>
                                    </div>
                                </section>

                                <section class="contain-content-card-2">
                                    <a href="#"><button class="button"><span class="material-symbols-outlined">add_shopping_cart</span></button></a>
                                    <div class="price">
                                        <span class="descuento">10% OFF</span>
                                        <span class="total">$ 000</span>
                                    </div>
                                </section>
                            </div>
                        </section>
                    </a>

                    <!-- ----------------------------------------------- -->

                    <a href="http://localhost:3000/productDetail">
                        <section class="card">
                            <img src="/img/img-product-jabon.jpg" alt="">
                            <div class="content-card-container">
                                <section class="contain-content-card-1">
                                    <div class="description">
                                        <span>Jabon biodegradable</span>
                                        <span>Ref: 8990</span>
                                    </div>
                                    <div class="stars">
                                        <span class="material-symbols-outlined">star</span>
                                        <span class="material-symbols-outlined">star</span>
                                        <span class="material-symbols-outlined">star</span>
                                        <span class="material-symbols-outlined">star</span>
                                        <span class="material-symbols-outlined">star</span>
                                    </div>
                                </section>

                                <section class="contain-content-card-2">
                                    <a href="#"><button class="button"><span class="material-symbols-outlined">add_shopping_cart</span></button></a>
                                    <div class="price">
                                        <span class="descuento">10% OFF</span>
                                        <span class="total">$ 000</span>
                                    </div>
                                </section>
                            </div>
                        </section>
                    </a>

                    <!-- --------------- -->

                    <a href="http://localhost:3000/productDetail">
                        <section class="card">
                            <img src="/img/img-product-jabon.jpg" alt="">
                            <div class="content-card-container">
                                <section class="contain-content-card-1">
                                    <div class="description">
                                        <span>Jabon biodegradable</span>
                                        <span>Ref: 8990</span>
                                    </div>
                                    <div class="stars">
                                        <span class="material-symbols-outlined">star</span>
                                        <span class="material-symbols-outlined">star</span>
                                        <span class="material-symbols-outlined">star</span>
                                        <span class="material-symbols-outlined">star</span>
                                        <span class="material-symbols-outlined">star</span>
                                    </div>
                                </section>

                                <section class="contain-content-card-2">
                                    <a href="#"><button class="button"><span class="material-symbols-outlined">add_shopping_cart</span></button></a>
                                    <div class="price">
                                        <span class="descuento">10% OFF</span>
                                        <span class="total">$ 000</span>
                                    </div>
                                </section>
                            </div>
                        </section>
                    </a>

                </article>

                
            </div>>

            <div class="container-name-category-cards">

                <section class="seccion-category-name">
                    <div class="title-categoty-product-contain">
                        <span>Cuidado personal y belleza</span>
                    </div>
                </section>

                <article id="cards-products-container">

                    <a href="http://localhost:3000/productDetail">
                        <section class="card">
                            <img src="/img/img-product-jabon.jpg" alt="">
                            <div class="content-card-container">
                                <section class="contain-content-card-1">
                                    <div class="description">
                                        <span>Jabon biodegradable</span>
                                        <span>Ref: 8990</span>
                                    </div>
                                    <div class="stars">
                                        <span class="material-symbols-outlined">star</span>
                                        <span class="material-symbols-outlined">star</span>
                                        <span class="material-symbols-outlined">star</span>
                                        <span class="material-symbols-outlined">star</span>
                                        <span class="material-symbols-outlined">star</span>
                                    </div>
                                </section>

                                <section class="contain-content-card-2">
                                    <a href="#"><button class="button"><span class="material-symbols-outlined">add_shopping_cart</span></button></a>
                                    <div class="price">
                                        <span class="descuento">10% OFF</span>
                                        <span class="total">$ 000</span>
                                    </div>
                                </section>
                            </div>
                        </section>
                    </a>

                    <!-- ------------------------------------- -->

                    <a href="http://localhost:3000/productDetail">
                        <section class="card">
                            <img src="/img/img-product-jabon.jpg" alt="">
                            <div class="content-card-container">
                                <section class="contain-content-card-1">
                                    <div class="description">
                                        <span>Jabon biodegradable</span>
                                        <span>Ref: 8990</span>
                                    </div>
                                    <div class="stars">
                                        <span class="material-symbols-outlined">star</span>
                                        <span class="material-symbols-outlined">star</span>
                                        <span class="material-symbols-outlined">star</span>
                                        <span class="material-symbols-outlined">star</span>
                                        <span class="material-symbols-outlined">star</span>
                                    </div>
                                </section>

                                <section class="contain-content-card-2">
                                    <a href="#"><button class="button"><span class="material-symbols-outlined">add_shopping_cart</span></button></a>
                                    <div class="price">
                                        <span class="descuento">10% OFF</span>
                                        <span class="total">$ 000</span>
                                    </div>
                                </section>
                            </div>
                        </section>
                    </a>

                    <!-- ----------------------------------------------- -->

                    <a href="http://localhost:3000/productDetail">
                        <section class="card">
                            <img src="/img/img-product-jabon.jpg" alt="">
                            <div class="content-card-container">
                                <section class="contain-content-card-1">
                                    <div class="description">
                                        <span>Jabon biodegradable</span>
                                        <span>Ref: 8990</span>
                                    </div>
                                    <div class="stars">
                                        <span class="material-symbols-outlined">star</span>
                                        <span class="material-symbols-outlined">star</span>
                                        <span class="material-symbols-outlined">star</span>
                                        <span class="material-symbols-outlined">star</span>
                                        <span class="material-symbols-outlined">star</span>
                                    </div>
                                </section>

                                <section class="contain-content-card-2">
                                    <a href="#"><button class="button"><span class="material-symbols-outlined">add_shopping_cart</span></button></a>
                                    <div class="price">
                                        <span class="descuento">10% OFF</span>
                                        <span class="total">$ 000</span>
                                    </div>
                                </section>
                            </div>
                        </section>
                    </a>

                    <!-- --------------- -->

                    <a href="http://localhost:3000/productDetail">
                        <section class="card">
                            <img src="/img/img-product-jabon.jpg" alt="">
                            <div class="content-card-container">
                                <section class="contain-content-card-1">
                                    <div class="description">
                                        <span>Jabon biodegradable</span>
                                        <span>Ref: 8990</span>
                                    </div>
                                    <div class="stars">
                                        <span class="material-symbols-outlined">star</span>
                                        <span class="material-symbols-outlined">star</span>
                                        <span class="material-symbols-outlined">star</span>
                                        <span class="material-symbols-outlined">star</span>
                                        <span class="material-symbols-outlined">star</span>
                                    </div>
                                </section>

                                <section class="contain-content-card-2">
                                    <a href="#"><button class="button"><span class="material-symbols-outlined">add_shopping_cart</span></button></a>
                                    <div class="price">
                                        <span class="descuento">10% OFF</span>
                                        <span class="total">$ 000</span>
                                    </div>
                                </section>
                            </div>
                        </section>
                    </a>

                </article>

                
            </div>>
        </article>


    </main>

    <footer>
        <section class="footer-top-content">
            <div class="logo-footer-contain">
                <img src="img/logo-bottom.jpg" alt="">
                <span class="text">Tienda ecológica</span>
            </div>

            <div class="input-contain">
                <input type="text">
                <button>Suscríbete</button>
            </div>
        </section>

        <article class="footer-bottom-content">
            <section class="compañia">
                <span class="title">
                    COMPAÑIA
                </span>
                <ul>
                    <li>Contacto</li>
                    <li>Blog</li>
                </ul>
            </section>

            <section class="sitio">
                <span class="title">
                    SITIO
                </span>
                <ul>
                    <li>Tienda</li>
                    <li>Inicio</li>
                    <li>Contact Us</li>
                </ul>
            </section>

            <div class="content-contact-logo">
                <section class="contact">
                    <span class="title">
                        CONTACT US
                    </span>
                    <ul>
                        <li>Calle#20-101</li>
                        <li>(+57) 22 3444-2333</li>
                        <li>TiendaEcologic@hotmail.com</li>
                    </ul>
                </section>

                <div class="redes-sociales">
                    <img src="/img/logo-git.jpg" alt="">
                    <img src="img/logo-inst.jpg" alt="">
                </div>
            </div>
        </article>
    </footer>
    <p class="derechos">&copy; Todos los derechos reservados 2023 © Tienda Ecológica </p>
</body>

</html>