<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Eco Root</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>

<body>
    <header class="bar-nav-container">
        <a href="http://localhost:3000"><img class="logo" src="/img/logo-bar-nav.jpg" alt=""></a>
        <div class="nav-text-wrapper">
            <a href="http://localhost:3000"><span class="text-navegation">Home</span></a>
            <a href="http://localhost:3000/products"><span class="text-navegation">Productos</span></a>
            <a href="http://localhost:3000/login"><span class="text-navegation">Login</span></a>
        </div>

        <div class="nav-right-wrapper">
            <span class="icon-account"><span class="material-symbols-outlined">account_circle</span></span>
            <span class="material-symbols-outlined">search</span>
            <section class="icon-shop-hamburguer">
                <div class="shop-icon">
                    <span class="material-symbols-outlined">local_mall</span>
                    <span class="number-shop">0</span>
                </div>
                <div class="contain-hamburguer">
                    <span class="material-symbols-outlined">menu</span>
                </div>
            </section>
        </div>
    </header>





    <main>
        <section id="main-productDetail">
            <article class="top-product-detail-container">
                <div class="img-card-val-wrapper">
                    <img class="img-primary" src="/img/img-jabon.jpg" alt="">
                    <div class="imgs-card-val-carrousel-wrapper">
                        <img src="/img/img-jabon.jpg" alt="">
                        <img src="/img/img-jabon.jpg" alt="">
                        <img src="/img/img-jabon.jpg" alt="">
                    </div>
                </div>

                <section class="contain-right-detail-content">
                    <div class="title-1-detail-container">
                        <h1 class="title-1-product-detail">Jabon biodegradable </h1>
                        <div class="container-stars-val">
                            <div class="stars-detail">
                                <span class="material-symbols-outlined">star</span>
                                <span class="material-symbols-outlined">star</span>
                                <span class="material-symbols-outlined">star</span>
                                <span class="material-symbols-outlined">star</span>
                                <span class="material-symbols-outlined">star</span>
                            </div>
                            <p>0 Opiniones</p>
                        </div>
                    </div>
                    <article class="content-text-detail">
                        <h2>Sensación especial</h2>
                        <p>El jabón biodegradable es un producto de limpieza que ha sido diseñado pensando en el cuidado
                            del
                            medio ambiente. Está compuesto por ingredientes naturales y sustancias biodegradables, lo
                            que
                            significa que puede descomponerse de forma segura y rápida en el medio ambiente sin dejar
                            residuos
                            tóxicos.
                        </p>
                    </article>
                    <div class="price-detail-wrapper">
                        <span class="descuento">10% OFF</span>
                        <span class="price"> $ 000</span>
                    </div>
                    <div class="buttons-detail-container">
                        <div class="button-selector-detail">
                            <button>Color verde</button>
                            <span class="material-symbols-outlined">expand_more</span>
                        </div>
                        <div class="button-cart-add-detail">
                            <button>AGREGAR AL CART</button>
                            <span>1</span>
                        </div>
                    </div>
                </section>
            </article>

            <section>
                <div class="text-seccion-val-bottom">
                    <div class="text-title-val-bottom">
                        <p>Jabon biodegradable</p>
                        <span>Opiniones: 3</span>
                    </div>
                    <div class="text-reviews-val-bottom">
                        <p>5.0</p>
                        <div class="stars">
                            <span class="material-symbols-outlined">star</span>
                            <span class="material-symbols-outlined">star</span>
                            <span class="material-symbols-outlined">star</span>
                            <span class="material-symbols-outlined">star</span>
                            <span class="material-symbols-outlined">star</span>
                        </div>
                    </div>
                </div>
            </section>
            <article class="cards-val-bottom-container">

                <div class="card-val">
                    <section class="name-card-val">
                        <img src="img/img-user.jpg" alt="">
                        <div class="reviews-contain">
                            <span>Andrea</span>
                            <div class="stars">
                                <span class="material-symbols-outlined">star</span>
                                <span class="material-symbols-outlined">star</span>
                                <span class="material-symbols-outlined">star</span>
                                <span class="material-symbols-outlined">star</span>
                                <span class="material-symbols-outlined">star</span>
                            </div>
                        </div>
                    </section>
                    <p class="paragraph-card-val">
                        Lorem ipsum dolor sit amet consectetur. Non tempus ullamcorper vestibulum tellus. Ac mattis
                        blandit rutrum ipsum nulla proin. Malesuada malesuada malesuada nam auctor.
                    </p>
                </div>

                <div class="card-val">
                    <section class="name-card-val">
                        <img src="img/img-user.jpg" alt="">
                        <div class="reviews-contain">
                            <span>Andrea</span>
                            <div class="stars">
                                <span class="material-symbols-outlined">star</span>
                                <span class="material-symbols-outlined">star</span>
                                <span class="material-symbols-outlined">star</span>
                                <span class="material-symbols-outlined">star</span>
                                <span class="material-symbols-outlined">star</span>
                            </div>
                        </div>
                    </section>
                    <p class="paragraph-card-val">
                        Lorem ipsum dolor sit amet consectetur. Non tempus ullamcorper vestibulum tellus. Ac mattis
                        blandit rutrum ipsum nulla proin. Malesuada malesuada malesuada nam auctor.
                    </p>
                </div>

                <div class="card-val">
                    <section class="name-card-val">
                        <img src="img/img-user.jpg" alt="">
                        <div class="reviews-contain">
                            <span>Andrea</span>
                            <div class="stars">
                                <span class="material-symbols-outlined">star</span>
                                <span class="material-symbols-outlined">star</span>
                                <span class="material-symbols-outlined">star</span>
                                <span class="material-symbols-outlined">star</span>
                                <span class="material-symbols-outlined">star</span>
                            </div>
                        </div>
                    </section>
                    <p class="paragraph-card-val">
                        Lorem ipsum dolor sit amet consectetur. Non tempus ullamcorper vestibulum tellus. Ac mattis
                        blandit rutrum ipsum nulla proin. Malesuada malesuada malesuada nam auctor.
                    </p>
                </div>
            </article>
        </section>
    </main>


    <footer>
        <section class="footer-top-content">
            <div class="logo-footer-contain">
                <img src="img/logo-bottom.jpg" alt="">
                <span class="text">Tienda ecológica</span>
            </div>

            <div class="input-contain">
                <input type="text">
                <button>Suscríbete</button>
            </div>
        </section>

        <article class="footer-bottom-content">
            <section class="compañia">
                <span class="title">
                    COMPAÑIA
                </span>
                <ul>
                    <li>Contacto</li>
                    <li>Blog</li>
                </ul>
            </section>

            <section class="sitio">
                <span class="title">
                    SITIO
                </span>
                <ul>
                    <li>Tienda</li>
                    <li>Inicio</li>
                    <li>Contact Us</li>
                </ul>
            </section>

            <div class="content-contact-logo">
                <section class="contact">
                    <span class="title">
                        CONTACT US
                    </span>
                    <ul>
                        <li>Calle#20-101</li>
                        <li>(+57) 22 3444-2333</li>
                        <li>TiendaEcologic@hotmail.com</li>
                    </ul>
                </section>

                <div class="redes-sociales">
                    <img src="/img/logo-git.jpg" alt="">
                    <img src="img/logo-inst.jpg" alt="">
                </div>
            </div>
        </article>
    </footer>
    <p class="derechos">&copy; Todos los derechos reservados 2023 © Tienda Ecológica </p>
</body>

</html>