#create-product-body {
    width: auto;
    background-image: linear-gradient(45deg, #b9cf7d, #4e6430);
}


.title-step-4,
.title-step-5,
.title-step-6 {
  color: #d0e1b5;
  font-size: 1.125rem;
  line-height: 1.375rem;
  width: 100%;
  text-align: left;
}


.step-6,
.step-4,
.step-5{
  color: #d0e1b5;
  font-size: 0.8125rem;
  font-weight: 400;
}


.input-information-container label{
    padding-top: 10px;
}


.errorsCreateProduct{
  font-size: 11px;
  color: #ffffff;
  font-weight: bold;
  padding: 5px;
  list-style-type: none;
  text-align: left;

  &::before {
      content: "\26A0";
      /* Código del símbolo de advertencia en una fuente de iconos */
      margin-right: 8px;
      color: #bceb6a;
  }
}

