<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head.ejs') %>

<body>

    <%- include('../partials/header.ejs') %>

    <main class="main-register">
        
        <h1>REGISTRO</h1>

        <article class="content-register-wrapper">
            <div class="img-register">
                <img src="/img/articles/img-login.jpg" alt="">
            </div>
    
            <form class="form-register" action="/" method="POST">
    
                <div class="input-register">
                    <label for="first_name">Nombre:</label>
                    <input type="text" id="first_name" name="first_name" required>
                </div>
    
                <div class="input-register">
                    <label for="last_name">Apellido:</label>
                    <input type="text" id="last_name" name="last_name" required>
                </div>
    
                <div class="input-register">
                    <label for="email">Correo electrónico:</label>
                    <input type="email" id="email" name="email" required>
                </div>
    
                <div class="input-register">
                    <label for="password">Contraseña:</label>                                       
                    <input class="input-passw-register" type="password" id="password" name="password" required>
<!--                     <span class="view-none"><span class="material-symbols-outlined">visibility_off</span></span> -->
                    
                </div>
    
                <input class="button-register" type="submit" value="Registrarse">

                <div class="text-account-register-wrapper">
                    <a class="text-account-register" href="/user/login">¿Ya tienes una cuenta?</a>                            
                </div>
            </form>

        </article>

    </main>

    <%- include('../partials/footer.ejs') %>

</body>

</html>