<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs') %>

<body>

    <%- include('../partials/header.ejs') %>

    <main>

        <div class="container-user-div">

            <h1>usuario</h1>
            <img class="img-user-page" src="/img/users/usuario-1.jpg" alt="foto de perfil" >
            <p class="paragraph-user-description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sed fuga, dicta voluptate porro nesciunt magni
                accusantium. Numquam ullam, doloremque in quod earum pariatur omnis corporis dolore. Quaerat quo ab hic.
            </p>
            <div class="content-user-page">
                <div class="user-detail content">
                    <h2>Detalles</h2>    
                    <ul>
                        <li></li>
                    </ul>
                </div>
                <div class="user-post content">
                    <h3>Publicaciones</h3>    
                </div>
            </div>
            <form class="form-user-page">
                <button class="button-edit-user buttons-user" type="submit"><i class="fa-solid fa-pencil"></i>Editar perfil</button>
                <button class="button-delete-user buttons-user" type="submit"><i class="fa-solid fa-user-xmark"></i>Eliminar cuenta</button>
            </form>

            </button>

        </div>


    </main>

    <%- include('../partials/footer.ejs') %>

</body>

</html>