<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs') %>

<body>

    <%- include('../partials/header.ejs') %>

    <div class="error-container emptyCart-container">
        <img src="/img/ilustrations/CartEmpty.svg" alt="imagen de carrito vacio">
        <span>"Oops, parece que aún no has añadido ningún producto a tu carrito"</span>
        <a href="/products">¡Empieza a comprar!</a>
    </div>

    <%- include('../partials/footer.ejs') %>

</body>

</html>