<footer>
    <section class="footer-top-content">
        <div class="logo-footer-contain">
            <img src="/img/logos/logo-bottom.jpg" alt="">
            <span class="text">Tienda ecológica</span>
        </div>

        <form action="/" method="GET" class="input-contain">
            <input type="search"  name="search">
            <button>Suscríbete</button>
        </form>
    </section>

    <article class="footer-bottom-content">
        <section class="compañia">
            <span class="title">
                COMPAÑIA
            </span>
            <ul>
                <li>Contacto</li>
                <li>Blog</li>
            </ul>
        </section>

        <section class="sitio">
            <span class="title">
                SITIO
            </span>
            <ul>
                <li>Tienda</li>
                <li>Inicio</li>
                <li>Contact Us</li>
            </ul>
        </section>

        <div class="content-contact-logo">
            <section class="contact">
                <span class="title">
                    CONTACT US
                </span>
                <ul>
                    <li>Calle#20-101</li>
                    <li>(+57) 22 3444-2333</li>
                    <li>TiendaEcologic@hotmail.com</li>
                </ul>
            </section>

            <div class="redes-sociales">
                <a href="https://github.com/Danielgbit/Grupo15_Tienda-Ecologic.git"><img src="/img/logos/logo-git.jpg"
                        alt=""></a>
                <a href=""><img src="/img/logos/logo-inst.jpg" alt=""></a>
            </div>
        </div>
    </article>
</footer>
<p class="derechos">&copy; Todos los derechos reservados 2023 © Tienda Ecológica </p>