
<header class="bar-nav-container">
    <a href="/"><img class="logo" src="/img/logo-bar-nav.jpg" alt=""></a>
    <div class="nav-text-wrapper">
        <a href="/"><span class="text-navegation">Home</span></a>
        <a href="/products"><span class="text-navegation">Productos</span></a>
        <a href="/user/login"><span class="text-navegation">Login</span></a>
    </div>

    <div class="nav-right-wrapper">
        <span class="icon-account"><span class="material-symbols-outlined">account_circle</span></span>
        <a href="create/category" class="add-product"><span class="material-symbols-outlined">add</span></a>
        <span class="material-symbols-outlined">search</span>
        <section class="icon-shop-hamburguer">
            <div class="shop-icon">
                <a href="cart"><span class="material-symbols-outlined">local_mall</span></a>
                <span class="number-shop">0</span>
            </div>
            <div class="contain-hamburguer">
                <span class="material-symbols-outlined">menu</span>
            </div>
        </section>
    </div>
</header>
