<header class="bar-nav-container">
    <a href="/"><img class="logo" src="/img/logos/logo-bar-nav.jpg" alt=""></a>
    <div class="nav-text-wrapper">
        <a href="/"><span class="text-navegation">Home</span></a>
        <a href="/products"><span class="text-navegation">Productos</span></a>
        <a href="/products/2/category" class="container-category">
            <span class="text-navegation-category"></i>Categorias</span>
            <!--           <div class="category-block">
                <ul>
                    <li>Hogar</li>
                    <li>Personal</li>
                    <li>Moda</li>
                    <li>Joyeria</li>
                </ul>
            </div> -->
        </a>

        <% if (!locals.user || !locals.user.email) { %>
        <a href="/user/register"><span class="text-navegation">Registro</span></a>
        <% } %>

    </div>

    <div class="nav-right-wrapper">

        <div class="div-user-header">
            <a href="/user" class="icon-account"><span class="material-symbols-outlined">account_circle</span></a>
            <% if (locals.user && locals.user.email) { %>
            <span class="name">¡Hola! <%= user.first_name %></span>
            <a href="/user/logout"><i class="fa-solid fa-square-arrow-up-right"></i></a>
            <% } %>
        </div>

        <% if (locals.user && locals.user.email) { %>
            <a href="/products/create" class="add-product"><span class="material-symbols-outlined">add</span></a>
        <% } %>
            <section class="icon-shop-hamburguer">

        <% if (locals.user && locals.user.email) { %>
            <div class="shop-icon">
                <a href="/products/cart"><span class="material-symbols-outlined">local_mall</span></a>
                <span class="number-shop"></span>
            </div>
        <% } else { %>
            <div class="shop-icon">
                <a href="/user/login"><span class="material-symbols-outlined">local_mall</span></a>
            </div>
        <% } %>
            <div class="contain-hamburguer">
                <span class="material-symbols-outlined">menu</span>
            </div>
        </section>
    </div>
</header>