<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs') %>

<body id="body-create-category">

    <%- include('../partials/header.ejs') %>


    <main class="main-create-category">
        <seccion class="header-create">
            <h1>Articulo en venta</h1>
            <img src="/img/logos/eco.png" alt="Logo-article">
        </seccion>

        <section class="form-create-1">
            <span class="title-create-form-1">¡Hola! Antes que nada cuéntanos, ¿qué vas a publicar?</span>
            <span class="span-step-1">Paso 1 de 6</span>
            <article class="container-cards-category">
                <a href="information" class="categoryCards">
                    <img src="/img/categories/planet.png" alt="">
                    <span>Hogar</span>
                </a>
                <a href="information" class="categoryCards">
                    <img src="/img/categories/personal.png" alt="">
                    <span>Cuidado personal</span>
                </a>
                <a href="information" class="categoryCards">
                    <img src="/img/categories/moda.png" alt="">
                    <span>Moda sostenible</span>
                </a>
                <a href="information" class="categoryCards">
                    <img src="/img/categories/joyeria.png" alt="">
                    <span>Joyeria sostenible</span>
                </a>
            </article>
        </section>
        
    </main>

</body>

</html>