<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs') %>

<body>

    <%- include('../partials/header.ejs') %>


    <main>

        <div class="arrow-header-price-img"><img src="/img/articles/arrow-div.png" alt=""></div>

        <form action="imagePrice" method="" class="form-max-condition-description">

            <article>
                <section class="condition-container">
                    

                    <div class="condition-text-header">
                        <span class="text-title">¿Cuál es la condición de tu producto?</span>
                        <span class="text-step">Paso 3 de 6</span>
                    </div>
        
                    <div class="condition-form">
                        <label class="estado-label">
                            <input type="radio" name="estado" value="nuevo">
                            Nuevo
                        </label>
        
                        <label class="estado-label">
                            <input type="radio" name="estado" value="usado">
                            Usado
                        </label>
                    </div>
        
                </section>
                
                <hr>
        
                <section class="form-create-4">
                    <div class="text-header-create-container">
                        <span class="title-step-4">¿Cuál es la condición de tu producto?</span>
                        <span class="step-4">Paso 4 de 6</span>
                        <p class="description-pharagraph">No incluyas datos de contacto, como e-mails, teléfonos, direcciones, links ni referencias a
                            sitios
                            externos. Tampoco uses este espacio para indicar la condición de tu producto.</p>
                    </div>
                    <section >
        
                        <div class="description-container">
                            <textarea id="descripcion" name="descripcion" rows="4" cols="50" required class="description-box"></textarea>
                        </div>
        
                    </section>    
                </section>
            </article>

            <input type="submit" value="Continuar" class="input-continue-condition">
    
        </form>

    </main>

</body>

</html>