<%- include('../partials/head.ejs') %>

<div class="error-container">
    <img src="/img/error/404.svg" alt="imagen de error 404">
    <span>"Oops, parece que te has perdido en el ciberespacio. ¡Vamos a llevarte de vuelta a casa!"</span>
    <a href="/">Vuelve a casa</a>
</div>